

{#{{ dump(data) }}#}

<section class="cg-section__content cg-heroscreen">
    {% if togglecontrol_bage and badge %}
        <div class="cg-bage"><p class="icon-bage">{{ bage }}</p></div>
    {% endif %}

    {% if title %}
        <h1 class="cg-heroscreen__title">{{ title }}</h1>
    {% endif %}

    {% if description %}
        <div class="cg-description cg-heroscreen__text">
            <p>{{ description }}</p>
        </div>
    {% endif %}


    {% if buttons %}
        <div class="cg-buttons">
            {% for button in buttons %}
                {% include 'components/button.twig' with {
                    'button': button,
                    'class': 'item'
                } %}
            {% endfor %}
        </div>

    {% endif %}


</section>
