
<section class="cg-section__content cg-heroscreen cg-heroscreen-v2" {{ block_style }}>

    <div class="cg-heroscreen-v2__sect">

        <d
                iv class="cg-heroscreen-v2__content">

            {% if togglecontrol_bage and badge %}
                <div class="cg-bage cg-bage-v2">
                    <p class="icon-bage">{{ bage }}</p>
                </div>
            {% endif %}


            {% if title %}
                <h1 class="cg-heroscreen__title h1-v2">{{ title }}</h1>
            {% endif %}


            {% if description %}
                <div class="cg-description cg-heroscreen__text">
                    <p>{{ description }}</p>
                </div>
            {% endif %}

            {% if buttons %}
                <div class="cg-buttons cg-heroscreen-v2__buttons">
                    {% for button in buttons %}
                        {% include 'components/button.twig' with {
                            'button': button,
                            'class': 'item'
                        } %}
                    {% endfor %}
                </div>
            {% endif %}

        </div>

        {% for image in payment_v2 %}
            {% include 'components/img.twig' with {
                'img': image.image_current
            } %}
        {% endfor %}
    </div>

    {% if img_content %}
        <div class="cg-heroscreen-v2__pic">
                {% include 'components/img.twig' with {
                    'img': img_content,
                    'class': 'v2'
                } %}
        </div>
    {% endif %}
</section>
